<div id="semester-{{ include.semester | default: 0 }}" class="mb-4">
  <input type="text" name="semester-{{ include.semester | default: 0 }}-input" id="semester-{{ include.semester | default: 0 }}-input"  placeholder="Spring 2017" class="form-control"/>
  <table class="table mb-2" id="tab_logic{{ include.semester | default: 0 }}">
  	<thead>
  		<tr >
  			<th class="text-center">
  				Course Number
  			</th>
  			<th class="text-center">
  				Course Name
  			</th>
  			<th class="text-center">
  				Credits
  			</th>
  			<th class="text-center">
  				Final Grade
  			</th>
        <th>
          <a id="add_class" class="text-success" onclick="add_class({{ include.semester | default: 0 }})"><i class="fa fa-plus" aria-hidden="true"></i></a>
          <a id="delete_class" class="text-danger" onclick="delete_class({{ include.semester | default: 0 }})"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
        </th>
  		</tr>
  	</thead>
  	<tbody>
  		<tr>
  			<td id="row-{{ include.semester | default: 0 }}-1">
          <input type="text" name="number-{{ include.semester | default: 0 }}"  placeholder="EE5496" class="form-control"/>
  			</td>
  			<td>
    			<input type="text" name="name-{{ include.semester | default: 0 }}"  placeholder="GPU and Multicore Programming" class="form-control"/>
  			</td>
  			<td>
    			<input type="text" name="credits-{{ include.semester | default: 0 }}" placeholder="3.0" class="form-control"/>
  			</td>
  			<td>
    			<input type="text" name="grade-{{ include.semester | default: 0 }}" placeholder="AB" class="form-control"/>
  			</td>
        <td>
          <a id="check_class" class="text-primary" onclick="check_class({{ include.semester | default: 0 }})"><i class="fa fa-check" aria-hidden="true"></i></a>
        </td>
  		</tr>
  	</tbody>
  </table>
</div>
